:root{
    --principal-color: #1E72B9;
    --principal-dark: #10395C;
    --dark: #a0a0a0;
    --light: #ffffff;
    --light-grey: #e8e8e8;
    --dark-grey: #212121;
}

*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: var(--dark-grey);
}

#socialLink{
    transition: all 0.3s ease; 
}

#socialLink:hover{
    scale: 1.1;
}

#headLink{
    margin-right: 70px;
    font-size: 20px;
    text-decoration: none;
    color: var(--light-grey);
}

h1{
    color: var(--light-grey);
}

p{
    color:var(--dark);
}

header{
    backdrop-filter: blur(3px);
}

#changeTheme{
    border: 0px solid;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    background-color: var(--light-grey);
    color: var(--dark-grey);
    margin: 10px;
    transition: all 0.2s ease;
}

#changeTheme:hover{
    scale: 0.9;
}

#changeTheme:active{
    scale: 1.4;
}

#changeTheme img{
    width: 25px;
    justify-content: center;
}

#moreOptions{
    width: 40px;
    height: 40px;
    border-radius: 25px;
    border: 0px solid;
}