:root{
    --color1: #fff;
    --color2: #000;
}


body {
    margin: 0;
    font-family: 'Nunito', sans-serif;
    cursor: none;
    background-color: var(--color2);
    color: var(--color1);
}
.hoverable:hover {
    cursor: none;
}

.cursor {
    pointer-events: all; 
    z-index: 11;
}


::-webkit-scrollbar {
    width: 0px;
}::-webkit-scrollbar-track {
    background: var(--color1); 
}::-webkit-scrollbar-thumb {
    background: var(--color2);
    border-radius: 6px; 
    border: 1px solid var(--color1);
}



.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color2);
    color: var(--color1);
}

.cursor {
pointer-events: none;
}

.cursor__ball {
position: fixed;
top: 0;
left: 0;
mix-blend-mode: difference;
z-index: 1000;
}

.cursor__ball circle {
fill: var(--color2);
}

.cursor__ball--big circle {
fill: white;
}

.cursor__ball--small {
width: 10px;
height: 10px;
border-radius: 50%;
}

.cursor__ball--small-black {
background-color: var(--color2);
}

.cursor__ball--small-white {
background-color: var(--color1);
}


a{color: var(--color1);}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

header h1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33vw;
}

#headerLinks{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33vw;
}

#headerSocial{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33vw;
}

#headerSocial img{
    width: 20px;
}







#switchTheme{
    display: flex;
    justify-content: space-around
}


.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 27px;
  }
  
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color2);
    transition: .4s;
    border-radius: 20px;
    border: 2px solid;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: var(--color1);
    transition: .4s;
    border-radius: 50%;
  }
  
  input:checked + .slider:before {
    transform: translateX(22px);
  }