
*{
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior:smooth;
}

::-webkit-scrollbar {
    width: 0px; 
}

header{
    
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin: 0px;
}

#header{
    top: 0;
    position: sticky;
}

#social-media{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#coverContent{
    padding: 20px;
}

#cover{
    display: flex;
    flex-direction: row-reverse;
    padding: 30px;
}

#menuLinks{
    padding: 10px;
}


footer{
    padding: 30px;
}

.contentDiv{
    padding: 30px;
}

#divMoreOptions{
    padding: 10px;
}

.moreOptionsDivStyle{
    position: absolute;
    right: 0%;
    padding: 25px;
    background-color: var(--light);
    transition: all 0.3s ease;
    margin-top: 90px;
}


.moreOptionsDivStyle *{
    color: var(--dark-grey);
    font-size: 30px;
}

#moreOptionsDiv{
    display: none;
}

.projectsDiv{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.project{
    padding: 20px;
    margin: 20px;
    width: 300px;
    height: 400px;

    background-repeat: no-repeat;
    background-attachment:local;
    background-size:cover;
    background-position: center;
}

.project *{
    margin: 20px;
    padding: 10px;
}
